@import "../styles/serkia_dark.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelWrapper{
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  margin-bottom: 1em;
}

.button {
  width: 100%;
}

.icon {
  max-width: 3em;
  fill: var(--text-color);
}

@media screen and (min-width: 768px) {
  .button{
    width: 30%;
  }
}